{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
    <h1 class="text-center">Flights list</h1>
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nbfreeseats</th>
            <th>Seatprice</th>
            <th>Takeofftime</th>
            <th>Publicationdate</th>
            <th>Description</th>
            <th>Wasdone</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr>
                <td><a href="{{ path('flight_show', { 'id': flight.id }) }}">{{ flight.id }}</a></td>
                <td>{{ flight.nbFreeSeats }}</td>
                <td>{{ flight.seatPrice }}</td>
                <td>{% if flight.takeOffTime %}{{ flight.takeOffTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if flight.publicationDate %}{{ flight.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ flight.description }}</td>
                <td>{% if flight.wasDone %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary " href="{{ path('flight_show', { 'id': flight.id }) }}">Show</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="{{ path('flight_edit', { 'id': flight.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
<div class="row">
    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('flight_new') }}">+ Create a new flight</a>
        </li>
    </ul>
</div>
</div>
{% endblock %}
